@charset "utf-8";

:root {
    --color1: #ACACFF;
    --color2: #3A0070;
    --color3: #1A1AFF;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color1);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.538);
}

header h1 {
    color: #3A0070;
}

article h2 {
    color: var(--color2);
}

main img.lado {
    float: right;
}

article a {
    color: var(--color2);
    text-decoration: none;
    font-weight: bold;
}

main a:hover {
    color: #1A1AFF;
    text-decoration: underline;
}

div.video {
    padding: 4% 52% 52% 4%;
    position: relative;
    margin-bottom: 5px;
}

div iframe {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}